@import "tailwindcss";
/* @import '.tailwindcss/components';
@import 'tailwindcss/utilities'; */

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
